 /*
 File: entrydesign.css
 Author: Thomas Zhang
 Class: IS 448
 Assignment: HW3
 Description: CSS Page for the design of createPost.html
*/
 

body {
	font-size: 16px;
    width: 700px;
	height: 500px;
    margin: 1em auto;
	color: #D3D3D3;
    background-color: #035096;
    border: 5px black solid;
    padding: 1.0em;
}

label{
	
	font-family: "Tahoma", Geneva, sans-serif;
	font-weight: bold;
	font-size: 14px;
}

button
{
	width: 100px;
	height: 50px;
	text-align: center;
	margin: 10px;
}